pytest
pytest-cov

fastapi
uvicorn
pydantic
requests

streamlit

langchain
langchain-openai
langchain-core
langchain-community
langchain-google-community
langchain-mcp-adapters
langmem
langgraph
agentevals

duckduckgo-search
beautifulsoup4