pytest
pytest-cov

fastapi
uvicorn
pydantic
requests
python-dotenv

streamlit

langchain
langchain-openai
langchain-core
langchain-community
langchain-google-community
langchain-mcp-adapters
langmem
langgraph
agentevals

duckduckgo-search
beautifulsoup4

azure-cosmos
azure-identity