pytest
pytest-cov

fastapi
uvicorn
pydantic
requests

langchain
langchain-openai
langchain-mcp-adapters
langmem
langgraph
agentevals

langchain-community
langchain-google-community
duckduckgo-search

beautifulsoup4